# Module 8 Exercise - Data Storytelling

In this exercise, you will **create a narrative visualization with a data set of your choosing**. You can choose any data set you can find on the Internet, or a data set related to your current line of work. 

**You will create visualizations to give a message, make a point, or convince your audience by using all the techniques we have seen throughout the course.**

Here is a list of your tasks:

1. Find a data set and upload it to your exercises folder in module 8. 

2. Write your R code **in this exercise notebook** to create your visualizations, and save them under `exercises` folder.

3. Create a **narrative visualization document** using **any** software you want (Word, PowerPoint, Photoshop, etc.) by pasting your visualizations and creating all necessary elements (captions, text annotations, layout, etc.) 

4. Save your end product as a **pdf file** and upload it to your exercises folder (**name it L8_Exercise.pdf**)

Make sure that you start with a clear message in mind, and filter and format your data accordingly, and create the visualizations that will **support that message**. 

You need to have **at least one major visualization, and a number of supporting smaller graphs (2, 3, or more)**. Make sure to have a **clean layout**, and **enough text annotations and captions** to make your message clear. 

You can choose any type of visualization that you believe will be most **effective** for the type of data and the message you have chosen. 

You will be graded by the quality of your visualizations and storytelling; **make sure to use everything you have learned in this course.** 


Following is to show how to plot to a file to save a graph:

In [29]:
# this is how you save a plot to a file
library(ggplot2)
library(dplyr)
library(maps)
library(ggmap)
library(mapproj)

# comment this out to see the plot in the notebook 
# png(filename="myplot.png")

# your plot here..
# qplot(carat, price, data = diamonds)

# comment this out to see the plot in the notebook
# dev.off()

Google's Terms of Service: https://cloud.google.com/maps-platform/terms/.
Please cite ggmap if you use it! See citation("ggmap") for details.

Make sure you have all axis labels set in R notebook before you save your plot. You can adjust width and height when saving your plots.  Here is a reference to png() function:
https://stat.ethz.ch/R-manual/R-devel/library/grDevices/html/png.html

**Activity:**

In [2]:
# Read your data here; 

df <- read.csv("/home/lcmhng/jupyter/vehicles_sample.csv")

# Clean it up, reformat it, filter it, sort it, group it, etc.

# Create your visualizations and save them as png files, then prepare your final pdf document elsewhere
# <- ALL YOUR CODE HERE ->

In [3]:
## NA subset
df_na <- mutate_all(df, na_if,"")
head(df_na)

  X region              price year manufacturer model                condition
1 1 madison                 0 2013 hyundai      elantra gt           good
2 2 chillicothe           200 2007 gmc          sierra               NA
3 3 north jersey            0 2015 kia          sportage             NA
4 4 sioux falls / SE SD  8745 2010 ford         explorer             excellent
5 5 maine               41995 2016 chevrolet    silverado 2500hd ltz NA
6 6 roseburg             2495   NA NA           NA                   NA
  cylinders   fuel   odometer title_status transmission drive size        type
1 4 cylinders gas        NA   clean        automatic    fwd   sub-compact sedan
2 NA          gas        NA   clean        automatic    NA    NA          NA
3 NA          gas     81158   clean        automatic    4wd   NA          SUV
4 NA          gas    143627   clean        automatic    NA    NA          SUV
5 NA          diesel  93166   clean        other        NA    NA          NA
6 NA          NA         NA   NA           NA           NA    NA          NA
  paint_color county state lat     long
1 white       NA     wi    42.4778 -92.3661
2 NA          NA     oh    39.1971 -83.6101
3 red         NA     nj    40.8546 -74.0427
4 NA          NA     sd    43.5741 -96.7780
5 NA          NA     me    44.0361 -69.9729
6 NA          NA     or         NA       NA

In [7]:
head(df)
summary(df)
str(df)

  X region              price year manufacturer model                condition
1 1 madison                 0 2013 hyundai      elantra gt           good
2 2 chillicothe           200 2007 gmc          sierra
3 3 north jersey            0 2015 kia          sportage
4 4 sioux falls / SE SD  8745 2010 ford         explorer             excellent
5 5 maine               41995 2016 chevrolet    silverado 2500hd ltz
6 6 roseburg             2495   NA
  cylinders   fuel   odometer title_status transmission drive size        type
1 4 cylinders gas        NA   clean        automatic    fwd   sub-compact sedan
2             gas        NA   clean        automatic
3             gas     81158   clean        automatic    4wd               SUV
4             gas    143627   clean        automatic                      SUV
5             diesel  93166   clean        other
6                        NA
  paint_color county state lat     long
1 white       NA     wi    42.4778 -92.3661
2             NA     oh    39.1971 -83.6101
3 red         NA     nj    40.8546 -74.0427
4             NA     sd    43.5741 -96.7780
5             NA     me    44.0361 -69.9729
6             NA     or         NA       NA

       X                    region          price                year
 Min.   :    1   columbus      :  362   Min.   :        0   Min.   :1900
 1st Qu.:10597   springfield   :  344   1st Qu.:     4500   1st Qu.:2007
 Median :21193   jacksonville  :  335   Median :     9995   Median :2012
 Mean   :21193   tampa bay area:  331   Mean   :    16825   Mean   :2010
 3rd Qu.:31789   reno / tahoe  :  326   3rd Qu.:    18995   3rd Qu.:2016
 Max.   :42385   salem         :  318   Max.   :111111111   Max.   :2021
                 (Other)       :40369                       NA's   :9552
    manufacturer              model           condition           cylinders
          :11081                 : 9886            :24635              :22546
 ford     : 6039   f-150         :  566   excellent: 8497   4 cylinders: 7015
 chevrolet: 4654   silverado 1500:  392   fair     :  689   6 cylinders: 7004
 toyota   : 2457   escape        :  338   good     : 6584   8 cylinders: 5462
 honda    : 1896   1500          :  292   like new : 1805   5 cylinders:  137
 nissan   : 1795   civic         :  271   new      :  121   other      :   84
 (Other)  :14463   (Other)       :30640   salvage  :   54   (Other)    :  137
       fuel          odometer           title_status      transmission
         : 9708   Min.   :      0             : 9657            : 9627
 diesel  : 2488   1st Qu.:  43699   clean     :31455   automatic:29149
 electric:  108   Median :  92043   lien      :  203   manual   : 2409
 gas     :28568   Mean   :  99178   missing   :   86   other    : 1200
 hybrid  :  382   3rd Qu.: 138187   parts only:   27
 other   : 1131   Max.   :4728224   rebuilt   :  627
                  NA's   :15365     salvage   :  330
 drive                size            type        paint_color     county
    :19231              :32017          :18211          :20265   Mode:logical
 4wd: 9907   compact    : 1675   sedan  : 6494   white  : 5780   NA's:42385
 fwd: 9038   full-size  : 5347   SUV    : 6171   black  : 4293
 rwd: 4209   mid-size   : 3080   truck  : 2705   silver : 3272
             sub-compact:  266   pickup : 2472   blue   : 2333
                                 other  : 1352   red    : 2254
                                 (Other): 4980   (Other): 4188
     state            lat              long
 ca     : 4574   Min.   :-80.39   Min.   :-159.38
 fl     : 2786   1st Qu.: 35.07   1st Qu.:-106.95
 tx     : 2298   Median : 39.38   Median : -88.01
 or     : 1803   Mean   : 38.74   Mean   : -94.03
 ny     : 1786   3rd Qu.: 42.52   3rd Qu.: -80.90
 oh     : 1736   Max.   : 65.02   Max.   :  36.08
 (Other):27402   NA's   :9986     NA's   :9986

'data.frame':	42385 obs. of  20 variables:
 $ X           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ region      : Factor w/ 401 levels "abilene","akron / canton",..: 201 58 238 318 202 291 56 180 189 101 ...
 $ price       : num  0 200 0 8745 41995 ...
 $ year        : int  2013 2007 2015 2010 2016 NA NA NA 2009 2017 ...
 $ manufacturer: Factor w/ 43 levels "","acura","alfa-romeo",..: 19 16 23 15 9 1 1 1 18 23 ...
 $ model       : Factor w/ 7176 levels "","-","- CR-V - EX-L - 4WD - LEATHER",..: 2292 5707 6106 2547 5901 1 1 1 1563 6038 ...
 $ condition   : Factor w/ 7 levels "","excellent",..: 4 1 1 2 1 1 1 1 1 4 ...
 $ cylinders   : Factor w/ 9 levels "","10 cylinders",..: 5 1 1 1 1 1 1 1 1 7 ...
 $ fuel        : Factor w/ 6 levels "","diesel","electric",..: 4 4 4 4 2 1 1 1 4 4 ...
 $ odometer    : int  NA NA 81158 143627 93166 NA NA NA NA 34973 ...
 $ title_status: Factor w/ 7 levels "","clean","lien",..: 2 2 2 2 2 1 1 1 2 2 ...
 $ transmission: Factor w/ 4 levels "","automatic",..: 2 2 2 2 4 1 1 1 2 2 ...
 $ drive       : Factor w/ 4 levels "","4wd","fwd",..: 3 1 2 1 1 1 1 1 1 3 ...
 $ size        : Factor w/ 5 levels "","compact","full-size",..: 5 1 1 1 1 1 1 1 5 1 ...
 $ type        : Factor w/ 14 levels "","bus","convertible",..: 10 1 11 11 1 1 1 1 10 8 ...
 $ paint_color : Factor w/ 13 levels "","black","blue",..: 12 1 10 1 1 1 1 1 3 12 ...
 $ county      : logi  NA NA NA NA NA NA ...
 $ state       : Factor w/ 51 levels "ak","al","ar",..: 49 36 32 42 22 38 15 10 14 16 ...
 $ lat         : num  42.5 39.2 40.9 43.6 44 ...
 $ long        : num  -92.4 -83.6 -74 -96.8 -70 ...

In [34]:
## png(filename="vehicles_by_year.png")

## Listings for year
#ggplot(df, aes(x=year)) + 
 #   geom_histogram(bins=120, fill='black') + 
  #  theme_minimal() +
   # labs(x='Vehicle Year', y='Number of Listings')


# comment this out to see the plot in the notebook
## dev.off()

In [89]:
png(filename="vehicles_condition_pie2.png")

df_condition <- subset(df_white, condition != 'NA')

## vehicle condition
ggplot(df_condition, aes(x=factor(1), y=condition, fill=condition)) + 
   geom_bar(stat="identity", width=1) + 
   coord_polar(theta='y') + 
   theme_minimal()

dev.off()

png
  2

In [33]:
#df_price <- subset(df, price < 50000 & price > 0)

#png(filename="v_price.png")

#ggplot(df_price, aes(x=price)) + 
 #   geom_histogram(bins=100, fill='black') + 
  #  theme_minimal() +
   # labs(x='Vehicle Price', y='Number of Listings')

#dev.off()

In [36]:
## Vehicle colors

df_color <- subset(df_na, paint_color != 'NA')

png(filename="vehicle_colors.png")

ggplot(df_color, aes(x=paint_color)) + 
       geom_bar(fill=c('black', 'blue', 'brown', 'pink', 'green', 
                        'grey', 'orange', 'purple', 'red', 'grey70', 'grey90', 'yellow'),
               colour = 'black') +
theme_minimal() +
    labs(x='Vehicle Color', y='Number of Listings')


# colour=c('black', 'blue', 'brown', 'pink', 'green', 
# 'grey', 'orange', 'purple', 'red', 'grey70', 'grey90', 'yellow')

dev.off()

png
  2

In [42]:
# White vehicle Types

df_white <- subset(df_color, paint_color == 'white')

png(filename="white_vehicle_types.png")

ggplot(df_white, aes(x=type)) +
    geom_bar(fill='grey90', colour='black')+
    theme_minimal() +
    labs(x='Vehicle Type', y='Number of Listings')+
    theme(axis.text.x = element_text(angle = 90, vjust = 0.5, hjust=1))

dev.off()

png
  2

In [49]:
df_black <- subset(df_color, paint_color == 'black')

png(filename="black_vehicle_types.png")

ggplot(df_black, aes(x=type)) +
    geom_bar(fill='black', colour='black')+
    theme_minimal() +
    labs(x='Vehicle Type', y='Number of Listings')+
    theme(axis.text.x = element_text(angle = 90, vjust = 0.5, hjust=1))

dev.off()

png
  2

In [55]:
png(filename="all_colors_vehicle_types.png")

ggplot(df_color, aes(x=type)) +
    geom_bar(fill='black', colour='black')+
    theme_minimal() +
    facet_wrap(~paint_color) +
    labs(x='Vehicle Type', y='Number of Listings')+
    theme(axis.text.x = element_text(angle = 90, vjust = 0.5, hjust=1))

dev.off()

png
  2

In [75]:
str(df_color_price)
head(df_color_price)

'data.frame':	241 obs. of  3 variables:
 $ year       : int  2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 ...
 $ paint_color: Factor w/ 13 levels "","black","blue",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ x          : num  6863 6920 8070 8221 6384 ...

  year paint_color x
1 2001 black       6862.913
2 2002 black       6919.521
3 2003 black       8070.371
4 2004 black       8221.392
5 2005 black       6384.453
6 2006 black       6776.992

In [87]:
## Average price for colors

png(filename="white_price_year.png")

df_color_price <- subset(df_white, select=c(price, year, paint_color), year > 2000)
df_color_price <- aggregate(df_color_price$price, by=list(year=df_color_price$year, paint_color=df_color_price$paint_color),
                            FUN=mean)

ggplot(df_color_price, aes(x=year, y=x, group=paint_color), ) +
    geom_point() +
    geom_line() +
    theme_minimal() +
    labs(x='Manufactur Year', y='Average Price')

dev.off()

png
  2

In [88]:
png(filename="black_price_year.png")

df_color_price <- subset(df_black, select=c(price, year, paint_color), year > 2000)
df_color_price <- aggregate(df_color_price$price, by=list(year=df_color_price$year, paint_color=df_color_price$paint_color),
                            FUN=mean)

ggplot(df_color_price, aes(x=year, y=x, group=paint_color), ) +
    geom_point() +
    geom_line() +
    theme_minimal() +
    labs(x='Manufactur Year', y='Average Price')

dev.off()

png
  2

In [32]:
# png(filename="myplot.png")

#df_type <- subset(df_na, condition != 'NA' & price < 50000 & price > 0 & paint_color != 'NA')

#ggplot(df_type, aes(x=price)) + 
 #   geom_histogram(bins=100, fill='black') + 
  #  facet_wrap(~type) + 
   # theme_minimal() +
    #labs(x='Vehicle Price', y='Number of Listings')

# dev.off()

In [31]:
# png(filename="myplot.png")

#ggplot(df_type, aes(x=type)) + 
 #      geom_bar(fill= ,
  #              colour = 'black') +
   #     facet_wrap(~paint_color) +
    #    theme_minimal() +
     #   labs(x='Vehicle Color', y='Number of Listings')

# dev.off()

In [96]:
df_white_notfree <- subset(df_white, price > 0)

png(filename="white_pricing_distribution.png")

ggplot(df_white_notfree, aes(x=price)) + 
    geom_histogram(aes(y=..density..), bins=1000) + 
    geom_density(alpha=.2, fill='red') +
    theme_minimal()

dev.off()

png
  2

---

# Common Pitfalls / Inefficiencies

**Pay attention to the following in your visualizations and stories:**


### Color coordinate among plots so that the same data attributes have the same color in all plots

you can do that by creating a manual palette and use it everywhere to make sure same color is always assigned to the same attribute value. 


### Perceptual grouping is important! group and/or order values

In a bar chart, **order the axes** by time, value, etc. to make comparisons more intuitive. 

Pie chart: order wedges. 

In a bubble map, if you want to show trends, use grouping variable to **connect** bubbles, etc. 


### No lengthy text in x axis

Flip the axes of a bar chart so that string values (text) are readable on the y axis left to right, 

**or** 

at least put them slanted in x axis for better readibility. 


### Plot only those that tell an obvious story

**No crowded** scatter plots with useless linear regression lines that don't tell anything. Look at alternative plots to tell your story.


### If you have too many classes (discrete variables/categories), try to group them 

Instead of giving a color to each of them, you can put them in meaningful groups and color code.

For sequential variables, you can do the same thing by binning. 

Stepped color palettes may be more useful than smooth sequential palettes (especially for comparison in choropleth maps).

You can group/cluster data into meaningful chunks and display those as bubble charts, networks, geographical regions, etc. 

Do NOT dump all the data in the plot unless there is a CLEAR pattern/clustering to it that can be perceived immediately. 


### ANNOTATE!

**Tell** your audience what they are supposed to see. 

Use meaningful titles with a message, not dry titles. 

Use nice and concise axis labels. 

Use text annotations (look at the **examples in the lab notebook**).



### THEMING!

**Good looking** charts are more **convincing**. 

**Almost NEVER use the default color palette, default theme, default font.**


Use a subtle color scheme, nice fonts, interesting glyphs, etc. to make your charts look more **sophisticated**. 



### Use space wisely!

**Balance the plots** to use space effectively.

Pay attention to data-ink ratio.

HAVE A FLOW left to right, top to bottom.